extends 1layout

block content
  div.y-template
    h2 Daily Check
    div.dailyCheckHeading So #{username}, how did you do with your goals today?
    div.dailyCheckGrid
      each index in habits
        div.dailyCheckBox
          div.dailyCheckQuestion #{index.question}
          form.daily(action=`/users/${username}/record/${index.habitId}/?_method=PUT` method='post')
            div
              p Yes
              input(type='radio',name='habit',value=1, required)
            div
              p No
              input(type='radio',name='habit',value=0, required)
            input(type='submit',habit=`${index.habitId}`,question=`${index.question}`,class='record-button',value='Record')
            div.dailyCheckDay Day: #{index.day+1}