extends 1layout

block content
  div.y-template
    h2 Daily Check Page
    h3 THIS PAGE APPEARS AT LEAST ONCE PER DAY SO THE USER CAN UPDATE HIS/HER HABIT PROGRESS
    div So #{firstName}, how did you do with your goals today?
    each index in habits
      div #{index.question}
      div #{index.habitId}
        form.daily(action=`/users/${username}/record/${index.habitId}/?_method=PUT` method='post')
          div
            p Yes
            input(type='radio',name='habit',value=1)
          div
            p No
            input(type='radio',name='habit',value=0)
          input(type='submit',habit=`${index.habitId}`,question=`${index.question}`,class='login-button',value='Submit')
        form.daily(action=`/users/${username}/delete/${index.habitId}/?_method=DELETE` method='post')
          input(type='submit',habit=`${index.habitId}`,question=`${index.question}`,class='login-button',value='DELETE')
