extends 1layout

block content
  div.y-template
    h2 Daily Check Page
    h3 THIS PAGE APPEARS AT LEAST ONCE PER DAY SO THE USER CAN UPDATE HIS/HER HABIT PROGRESS
    div So #{firstName}, how did you do with your goals today?
    each index in habits
      div #{index.question}
      div #{index._id}
        form.daily(action=`/users/${username}/record/${index._id}/?_method=PUT` method='post')
          div
            p Yes
            input(type='radio',name='habit',value='yes')
          div
            p No
            input(type='radio',name='habit',value='no')
          input(type='submit',habit=`${index._id}`,question=`${index.question}`,class='login-button',value='Submit')
