extends 1layout

block content
  div.y-template
    h2 Dashboard
    each habit, index in habits
      div.habitTile.cf
        div.habitQuestionInput
          h2 #{habit.question}
        //- form.daily(action=`/users/${username}/update/${habit.habitId}/${habit.question}` method='post')
        //-   input(type='text' name='question' placeholder='Change Habit Question' required)
        //-   input(type='submit',habit=`${habit.habitId}`,question=`${habit.question}`,class='edit-button',value='Edit')
        canvas(id= ("myChart-"+ index) width="400" height="400")
        ul.legends
          li.success 6
          li.fail 6
          li.miss 1
          li.remain 2
          
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js")
  script.
      window.onload = function() {
        var habits = !{JSON.stringify(habits)};
        habits.forEach((item, index) => {
          const yesArray = item.dailyCheck.filter(yes => yes === 1);
          const noArray = item.dailyCheck.filter(no => no === 0);
          const missArray = item.dailyCheck.filter(miss => miss === -1);
          item.data = item.dailyCheck.length === 0 ? [0, 0, 0, 15] : [yesArray.length, noArray.length, missArray.length, ( 15 - (yesArray.length + noArray.length + missArray.length) )]
          var ctx = document.getElementById("myChart-"+index).getContext('2d');
          var chart = new Chart(ctx, {
            type: 'doughnut',
            data: {
              labels: ["Success", "Fail", "Missed Days", "Days Remaining"],
              datasets: [{
                label: 'Number of votes',
                data: item.data,
                backgroundColor: ["#2471A3", "#A93226", "#D3D3D3", "#001000"],
                borderColor: ["#17202A"],
                borderWidth: 1
              }],
            },
            options: {
              legend: {
                display: false
              },
            }
          });
        })
      };