extends 1layout

block content
  div.y-template
    h2 Dashboard
    div.dashboardEntry View your pending 15 day habit progress. 
    div.dashboardGrid
      each habit, index in habits
        div.habitTile
          form.habitEdit(action=`/users/update/${habit.habitId}` method='get')
            input(type='submit',class='edit-button',value='Edit?')
          form.habitDelete(action=`/users/${username}/del/${habit.habitId}/?_method=DELETE` method='post')
            input(type='submit',habit=`${habit.habitId}`,question=`${habit.question}`,class='delete-button',value='Delete?')
          
          div(class="updateForm",id=("updateForm-"+index))
            div(class="habit-question-heading", id=("habit-question-"+index)) #{habit.question}
          canvas(id= ("myChart-"+ index), class="myChart", width="50", height="25")
            
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js")
  script.
      window.onload = function() {
        var habits = !{JSON.stringify(habits)};
        habits.forEach((item, index) => {
          const yes = item.dailyCheck.filter(yes => yes.points === 1).length;
          const no = item.dailyCheck.filter(no => no.points === 0).length;
          const miss = item.dailyCheck.filter(miss => miss.points === -1).length;
          const daysLeft = 15 - (yes + no + miss);
          item.data = [yes, no, miss, daysLeft];
          var ctx = document.getElementById("myChart-"+index).getContext('2d');
          var chart = new Chart(ctx, {
            type: 'doughnut',
            data: {
              labels: [`${yes}`+" Pass", `${no}`+" Fail", `${miss}`+" Absent", `${daysLeft}`+" Left"],
              datasets: [{
                data: item.data,
                backgroundColor: ["#2ecc71", "#f1c40f", "#e74c3c", "#9b59b6"],
                borderColor: ["#ffffff", "#ffffff", "#ffffff", "#ffffff"],
                borderWidth: 3
              }],
            },
            options: {
              tooltips: {enabled: false},
              hover: {mode: null},
              legend: {
                display: true,
                position: 'left',
                labels: {
                  fontSize: 16,
                  fontColor: '#000000',
                  text: 'Days',
                }
              },
              
            }
          });
        })
      };