extends 1layout

block content
  div.y-template
    h2 Dashboard  
    div.dashboardGrid
      each habit, index in habits
        div.habitTile
          div(class="updateForm",id=("updateForm-"+index))
            h2(id=("habit-question-"+index)) #{habit.question}
            form.daily(action=`/users/${username}/update/${habit.habitId}/${habit.question}` method='post')
              input(type='text',name='question',class='text-box',id=('text-box-'+index),placeholder= "type here to edit")
              input(type='submit',habit=`${habit.habitId}`,question=`${habit.question}`,class='edit-button',id=('edit-button-'+index),value='Save')
          canvas(id= ("myChart-"+ index), class="myChart", width="50", height="25")
            
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js")
  script.
      window.onload = function() {
        var habits = !{JSON.stringify(habits)};
        habits.forEach((item, index) => {
          const yes = item.dailyCheck.filter(yes => yes.points === 1).length;
          const no = item.dailyCheck.filter(no => no.points === 0).length;
          const miss = item.dailyCheck.filter(miss => miss.points === -1).length;
          const daysLeft = 15 - (yes + no + miss);
          item.data = [yes, no, miss, daysLeft];
          var ctx = document.getElementById("myChart-"+index).getContext('2d');
          var chart = new Chart(ctx, {
            type: 'doughnut',
            data: {
              labels: [`${yes}`+" Pass", `${no}`+" Fail", `${miss}`+" Miss", `${daysLeft}`+" Left"],
              datasets: [{
                data: item.data,
                backgroundColor: ["#2471A3", "#A93226", "#D3D3D3", "#001000"],
                borderColor: ["#17202A"],
                borderWidth: 1
              }],
            },
            options: {
              tooltips: {enabled: false},
              hover: {mode: null},
              legend: {
                display: true,
                position: 'left',
                labels: {
                  text: 'Days',
                }
              },
              
            }
          });
        })
      };