extends 1layout

block content
  div.y-template
    h2 Habit History
    div.historyGrid
      each habit, index in habits
        div.historyTile
          h2 #{habit.question}
          div.habitScore
            h3 Habit Score
            div #{habit.composite}
          br
          div.habitDate
            h3 Habit Journey
            div #{habit.success}
            div #{habit.fail}
            div #{habit.miss}
            br
            div #{habit.startDate} - #{habit.endDate}
          br
          h3 Habit Question History
          each item in habit.questionArray
            div #{item.question}
            div Documented on #{item.revisionDate}
            br
          br
          div.updateForm
            form.daily(action=`/users/${username}/delete/${habit.habitId}/?_method=DELETE` method='post')
              input(type='submit',habit=`${habit.habitId}`,question=`${habit.question}`,class='delete-button',value='Delete')