extends 1layout

block content
  div.y-template
    h2 Habit History Page
    each habit, index in habits
      div.habitTile.cf
        h2 #{habit.question}
        div.habitScore #{habit.habitScore}
        div.habitDate
          div #{habit.startDate}
          p to
          div #{habit.endDate}
          canvas(id= ("myChart-"+ index) width="400" height="400")
          
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js")
  script.
      window.onload = function() {
        var habits = !{JSON.stringify(habits)};
        habits.forEach((item, index) => {
          const yesArray = item.dailyCheck.filter(yes => yes === 1);
          const noArray = item.dailyCheck.filter(no => no === 0);
          item.data = item.dailyCheck.length === 0 ? [0, 0, 15] : [yesArray.length, noArray.length, ( 15 - (yesArray.length + noArray.length) )]
          var ctx = document.getElementById("myChart-"+index).getContext('2d');
          var chart = new Chart(ctx, {
            type: 'doughnut',
            data: {
              labels: ["Successful Days", "Failed Days", "Days left"],
              datasets: [{
                label: 'Number of votes',
                data: item.data,
                backgroundColor: ["#2471A3", "#A93226", "#000000"],
                borderColor: ["#17202A"],
                borderWidth: 1
              }],
            },
            options: {
              title: { 
                display: true,
                text: "Habit Chart",
              },
              legend: {
                position: 'bottom'
              },
            }
          });
        })
      };