extends 1layout

block content
  div.y-template
    h2 Habit History
    div.historyGrid
      each habit, index in habits
        div.historyTile
          h2 #{habit.question}
          div.habitScore
            h3 Final Habit Score
            div #{habit.score}
          br
          h3 Habit Log  
          each object in dailyCheck
            div #{object.date}
            div #{object.score}
            br  
          br
          h3 Habit Question History
          each item in habit.questionArray
            div #{item.question}
            div Documented on #{item.revisionDate}
            br
          div.updateForm
            form.daily(action=`/users/${username}/delete/${habit.habitId}/?_method=DELETE` method='post')
              input(type='submit',habit=`${habit.habitId}`,question=`${habit.question}`,class='delete-button',value='Delete')