extends 1layout

block content
  div.y-template
    h2 Habit History
    div.historyGrid
      each habit, index in habits
        div.historyTile
          h2 #{habit.question}
          div.habitScore
            h3 Final Habit Score
            div #{habit.score}
          br
          h3 Habit Log  
          each object in habit.historyArray
            div #{object.date}
            div #{object.points}
            each item in object.questions
              div Habit Question set to:#{item.question}
            br  
          div.updateForm
            form.daily(action=`/users/${username}/delete/${habit.habitId}/?_method=DELETE` method='post')
              input(type='submit',habit=`${habit.habitId}`,question=`${habit.question}`,class='delete-button',value='Delete')