extends 1layout

block content
  div.y-template
    h2 Habit History
    div.historyGrid
      each habit, index in habits
        div.historyTile
          div.historyTitle
            div.historyQuestion #{habit.question}
            form.daily(action=`/users/${username}/delete/${habit.habitId}/?_method=DELETE` method='post')
              input(type='submit',habit=`${habit.habitId}`,question=`${habit.question}`,class='delete-button',value='Delete?')
          div.habitScore
            h3 Final Habit Score
            div #{habit.score}
          h3 Habit Log  
          each object in habit.historyArray
            -if (object.points === "+1") {
              div.habitLog
                div.habitDatePass #{object.date}
                div.habitPointsPass #{object.points}
            -} else if (object.points === "+0") { 
              div.habitLog
                div.habitDateFail #{object.date}
                div.habitPointsFail #{object.points}
            -} else if (object.points === "-1") {
              div.habitLog
                div.habitDateMiss #{object.date}
                div.habitPointsMiss #{object.points}
            -}
            each item in object.questions
              li.revisedQuestion #{item.question}
