extends 1layout

block content
  div.y-template
    h2 Habit History
    div.historyGrid
      each habit, index in habits
        div.historyTile
          div.historyHeading
            form.historyDelete(action=`/users/${username}/delete/${habit.habitId}/?_method=DELETE` method='post')
              input(type='submit',habit=`${habit.habitId}`,question=`${habit.question}`,class='delete-button',value='Delete?')
            div.historyScore Habit Score: #{habit.score}
          div.historyTitle
            div.historyQuestion #{habit.question}
          each object in habit.historyArray
            -if (object.points === "+1") {
              div.historyLog
                div.historyDatePass #{object.date}
                div.historyPointsPass #{object.points}
            -} else if (object.points === "+0") { 
              div.historyLog
                div.historyDateFail #{object.date}
                div.historyPointsFail #{object.points}
            -} else if (object.points === "-1") {
              div.historyLog
                div.historyDateMiss #{object.date}
                div.historyPointsMiss #{object.points}
            -}