extends 1layout

block content
  div.y-template
    h2 Profile Page
    div Welcome #{firstName}!
    div #{id}
    div How did you do with your goals today?
    each index in habits
      div #{index.question}
      div #{index._id}
      div #{dailyCheck}
        form.daily(action=`/users/${username}/record/${index._id}/?_method=PUT` method='post')
          div
            p Yes
            input(type='radio',name='habit',value='yes')
          div
            p No
            input(type='radio',name='habit',value='no')
          div
            p Not Yet
            input(type='radio',name='habit',value='not yet')  
          input(type='submit',habit=`${index._id}`,question=`${index.question}`,class='login-button',value='Submit')