extends 1layout

block content
  div.y-template
    h2 Profile Page
    div Welcome #{firstName}!
    div How did you do with your goals today?
    each index in habits
      div #{index.question}
      div #{index._id}
        form.daily(action=`/users/${username}/${index._id}/${index.question}` method='post')
          div
            p Yes
            input(type='radio',name='habit',value='yes')
          div
            p No
            input(type='radio',name='habit',value='no')
          input(type='submit',habit=`${index._id}`,question=`${index.question}`,class='login-button',value='Submit')