extends 1layout

block content
  div.y-template
    h2 Revised Profile Page
    div Welcome #{firstName}!
    div How did you do with your goals today?
    each index in habits
      div.dailyCheckHabit #{index.question}
        form.daily(action=`/users/${username}/update/${index.question}/?_method=PUT` method='post')
          div
            p Yes
            input(type='radio',name='habit',value='yes')
          div
            p No
            input(type='radio',name='habit',value='no')
          div
            p Not Yet
            input(type='radio',name='habit',value='not yet')  
          input(type='submit',question=`${index.question}`,class='login-button',value='Submit')