extends 1layout

block content
  div.y-template
    h2 Update Habit Information
      each habit, index in habits
        form.daily(action=`/users/${username}/update/${habit.habitId}/${habit.question}` method='post')
          input(type='text',name='question',class='text-box',id=('text-box-'+index),placeholder= "Edit Habit Question")
          input(type='submit',habit=`${habit.habitId}`,question=`${habit.question}`,class='save-button',id=('save-button-'+index),value='Save')