extends 1layout

block content
  div.y-template
    h2 Update Habit Question
    each habit in habits
      div.updateForm
        form.daily(action=`/users/${username}/update/${habit.habitId}/${habit.question}` method='post')
          input(type='text' name='question' placeholder= `${habit.question}` required)
          input(type='submit',habit=`${habit.habitId}`,question=`${habit.question}`,class='edit-button',value='Edit')